@import "tailwindcss";

@keyframes floatUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-on-scroll {
  animation: floatUp 1s ease-out forwards;
}