@import "tailwindcss";

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-scroll {
  animation: floatUp 1s ease-out forwards;
}

.hero-image-mask {
  mask-image: linear-gradient(to right, transparent 0%, black 25%, black 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 25%, black 100%);
}

@media (min-width: 768px) {
  .hero-image-mask {
    mask-image: linear-gradient(to right, transparent 0%, black 25%, black 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 25%, black 100%);
  }
}

@media (min-width: 1024px) {
  .hero-image-mask {
    mask-image: linear-gradient(to right, transparent 0%, black 15%, black 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 100%);
  }
}